{% extends "base.html.twig" %}

{% block title "Paining Technique" %}

{% block header %}
    {% set currentPage = 'technique' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Живопись - техника выполнения</h3>
                    <div class="content">
                        <p><strong><img style="float: left; margin-right: 10px;" alt="В мастерской художника" src="/img/upload/v_masterskoy.jpg"></strong></p>
                        <p><strong>Чтобы заказать портрет</strong>, вам необходимо выбрать несколько лучших на ваш взгляд фотографий (или видео), где наиболее полно отражены характер и индивидуальные черты портретируемого, желательно, чтобы было хорошее качество "исходников" (чёткость и контраст). Вы предоставляет автору несколько фотографий или видео, которые помогают уловить характер, образ человека, портрет которого он будет писать. Портрет по фотоснимку - это очень удобно вам, как заказчику, так как не надо тратить время на многочисленные многочасовые сеансы позирования. Кроме того по фотоснимку можно сделать заказ на портрет-подарок или сюрприз для знакомых, восстановить облик далекого предка...</p>
                        <p><strong>Автор подбирает несколько вариантов </strong>для выполнения будущей картины и согласовывает их с вами. По вашему пожеланию портрет может быть исполнен на холсте любого размера, с оригинальным фоном или костюмом, или с помощью дизайнерских решений и мастерства художника фотоизображение может быть перенесено в образы на полотна известных художников XVI-XVIII веков (на фоне и в костюме «под старину», в костюме полководцев, национальной одежде, с любыми дополнительными элементами пейзажа, обстановки и других аксессуаров, в стиле определенной эпохи). Художник в данной ситуации нередко выступает как советчик и консультант. Именно он может подобрать портретируемому тот образ, в котором он будет смотреться наиболее эффектно.</p>
                        <p><strong>В ходе работы автор по вашему желанию</strong> может отправлять фотографию уже сделанного, благодаря чему можно внести свои пожелания и изменения.</p>
                        <p>Многие рекламируемые в интернете «портреты маслом по фотографии» часто не пишутся кистями и красками, а производятся методом фотопечати (печать на холсте и красками, имитирующими масло), а затем на них наносятся отдельные мазки маслом, чтобы создать соответствующий эффект. <strong>Заказанный вами портрет автор напишет масляными красками, которые со временем не выцветут, сохранят яркость и насыщенность цветов, он долгое время будет радовать своих владельцев и наследников.</strong> И даже если вы не профессионал в живописи, вы визуально увидите, что портрет действительно написан маслом.</p>
                        <p><strong>Сроки:</strong>Если вы решили заказать портрет в подарок, то о подготовке такого подарка следует побеспокоиться заранее, так как написание портрета<b> </b>занимает от 2 до 4 недель. Сроки выполнения оговариваются индивидуально с учетом ваших пожеланий.</p>
                        <p><strong>Оформление </strong>При необходимости автор поможет подобрать вам оформление для портрета – рамку (багет или безрамное оформление) в соответствии с интерьером, в котором вы планируете поместить картину.</p>
                        <p><strong>Стоимость работы</strong> оговаривается индивидуально с заказчиком в зависимости от сложности выполнения, формата картины и сроков.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 wow fadeInUp">
                            <div class="member">
                                <img src="/img/upload/Radutniy.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="member">
                                <img src="/img/upload/junior.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="member">
                                <img src="/img/upload/Julia.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="member">
                                <img src="/img/upload/Raisa.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
