{% extends "base.html.twig" %}

{% block title "СМИ ОБ АВТОРЕ" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Фотоальбом  "Кіевъ. Вчора і сьогодні"</h3>
                    <div class="content">
                        <p>
                            <a target="_blank" href="http://mycityua.com/books/2006/04/01/090009.html">
                                <img alt="logo_gpk" src="{{ asset('img/upload/logo_gpk.gif') }}">
                                Газета по-киевски, Рубрика: Книги, 01 апреля 2006
                            </a>
                        </p>
                        <img class="pull-left" alt="albom_kiev" src="{{ asset('img/upload/kiev.png') }}">
                        <p><strong>Открытия старых открыток</strong></p>
                        <p>Этот фотоальбом не просто собрание старых и новых видов Киева. Открытки и фотографии начала прошлого века соседствуют на одном развороте с современными фотографиями тех же мест. Причем, ракурс выбран практически тот же. Занятно прогуляться по спокойным улицам Киева прошлого, увидеть тогдашних монахов и горожан, и тут же перенестись в современную суетливую столицу.</p>
                        <p>В начале века не было цветной фотографии, но кое-где открытки разрисованы вручную, что делает их похожими на картины. И нехитрый прием искусственного состаривания самой страницы, на которой изображены старые фото (бумага словно кое-где подгорела, слежалась, промокла), помогает погрузиться в старый Киев с головой. И сделать немало открытий.</p>
                        <p>Нынешние киевские памятники, в основном, стоят на местах старых. Например, на месте известного памятника Тарасу Шевченко, который среди студентов носит название"Не брав я вашого плаща", раньше стоял памятник Николаю I. А возле предварительных касс, где сейчас стоит Щорс, был монумент предпринимателю Алексею Бобринскому. Кстати, первый памятник в Российской империи гражданскому лицу, а не полководцу и императору.</p>
                        <p>Памятник Богдану Хмельницкому, который открыли еще в 1888 году, сто лет назад утопал в зелени – весь постамент прятался в диком винограде. А Николаевский цепной мост через Днепр гораздо красивее моста метро, который построили в 1965-м.</p>
                        <p>А вообще, пролистывая альбом, просто диву даешься: многие места в Киеве за сто лет совсем не изменились. Только деревья выросли да асфальта стало больше. (Издатель Ашот Арутюнян, Киев, 2005)</p>
                        <p>Где купить: книжные магазины Киева, на рынке "Петровка"<br>Почем: 130–150 грн (2006 год)</p>
                        <p><em>Автор: Ольга Соломка</em></p>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
