{% extends "base.html.twig" %}

{% block title "СМИ ОБ АВТОРЕ" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Издатель ностальгии</h3>
                    <div class="content">
                        <p>
                            <a target="_blank" href="http://mycityua.com/people/2006/03/23/090049.html">
                                <img alt="logo_gpk" src="{{ asset('img/upload/logo_gpk.gif') }}">
                                Газета по-киевски, Рубрика: Люди, 23 марта 2006
                            </a>
                        </p>
                        <img class="pull-right" alt="nostalgy" src="{{ asset('img/upload/izdatel_nostalgy.jpg') }}">
                        <p>Ашот Арутюнян повесил в Киеве первый биллборд "с тампаксами". Он не участвует в выставках и форумах книжников. Он просто делает шикарные книги. Есть люди, которые всегда и во всем стремятся «в первые ряды». Набивают на этом немало шишек, но упорно продолжают топать по целине. Ашот Арутюнян - из таких. Сегодня он издатель фотоальбомов, листая которые невольно ностальгируешь и по тем временам, когда тебя не было, и по тем местам, которых ты не видел. А раньше он был известен своими красочными афишами, шикарным рестораном «Наполеон» и вторым в Союзе и первым в Украине рекламным агентством.</p>
                        <p><strong>Его афиши даже воровали</strong></p>
                        <p>Знакомые говорят, что Ашот Арутюнян очень похож на Наполеона. С императором у Ашота действительно особые отношения. Он до сих пор собирает все книги, которые выходят о знаменитом корсиканце. Иногда Ашот жалеет, что живет в это время – больше ему нравится 17-18 век.</p>
                        <p>Некогда Ашот был хозяином знаменитого шикарного ресторана «Наполеон» на Шота Руставели. Для него начал собирать оригинальные вещи, связанные с Наполеоном, чтобы сделать в ресторане маленький музей. Была боевая сабля его армии, ордена, в том числе Почетного легиона, статуэтки, которым 150 лет, фарфор. Словом, ресторан делал, как для себя – интерьер был создан по его эскизам, форму для официантов и метрдотелей тоже он рисовал, причем летнюю и зимнюю.</p>
                        <p>Кисть в руках держал умело. Слава к Ашоту пришла еще в 70-80 годах, когда весь Киев любовался его киноафишами в кинотеатрах «Киев» и «Кинопанорама» - он там художником работал.</p>
                        <p>- Это сейчас возле кинотеатров цепляют сверстанные на компьютерах и напечатанные в типографии афиши. А раньше от руки рисовали - огромная сложнейшая афиша делалась за ночь. О моих афишах писали городские газеты, снимали программы, люди шли толпами на разрекламированные фильмы, а сами афиши редко доживали свой век – их просто воровали.</p>
                        <p>Хорошо, что некоторые свои работы Ашот успел сфотографировать. Перелистывая альбом с фотографиями своих работ, автор улыбается:</p>
                        <p>- Меня и увольнять хотели за некоторые слишком откровенные, по тем меркам, рисунки. Тогда же и женские ноги были под запретом. Из-за одной афиши, где я нарисовал очень реалистично пачку пятирублевок, даже вызывали в КГБ и милицию как вероятного кандидата в фальшивомонетчики.</p>
                        <p>Афиши эти действительно уникальны – сложно поверить, что все эти портреты актеров со сложнейшими сюжетами и кое-где сюрреалистическими элементами нарисованы от руки, да еще и за ночь. Художник даже имя свое умудрялся там поставить. Например, на модном дутом сапоге вместо заграничного лейбла красуется надпись «Ашот». Потом это же имя появилось и под названием ресторана, заставляя не посвященных в ситуацию прохожих ломать голову над тем, что это за маленький Ашот примостился под надписью «Наполеон».</p>
                        <p><strong>Шантажировать можно и телекамерой</strong></p>
                        <p>Ашот стал настолько знаменит своими афишами, что его даже хотели сделать директором кинотеатра, и отправили учиться в театральный институт на киноведческий факультет. Но начались времена перестройки и с приходом в быт видеомагнитофонов кинотеатры начали «загибаться». Художник не верил в их возрождение и открыл в 1987 году первое в Украине и второе в Союзе частное рекламное агентство.</p>
                        <p>- Целый год пришлось ходить в исполком: рекламное агентство не хотели регистрировать, - вспоминает издатель. - Пришлось применить хитрость и прийти прямо к председателю исполкома с телекамерой и журналистом. Чиновник начал психовать, орать и чуть камеру не разбил. Возмущался: пока я буду здесь, у меня в районе не будет никаких пепсикол и никаких рекламных кооперативов.</p>
                        <p>Но все же предприятие зарегистрировали – второе рекламное агентство в Союзе и первое – в Украине.</p>
                        <p>- Я поставил первую рекламу «Пепси-колы» на троллейбусах, на трамваях, такси, на мостах, на ЦУМе – все это было мое, - гордится Ашот. – И первый биллборд в Киеве, который появился возле кинотеатра «Дружба» на Крещатике в 1989 году – тоже моя работа. Мне разрешил главный художник Киева разместить рекламу «Тампакса». Неделю там висела девушка с пачкой в руке, пока народ рассмотрел и поднял шум. Возмущались - да вы еще рекламу презервативов повесьте!</p>
                        <p><strong>Как «Наполеон» пострадал от бандитов</strong></p>
                        <p>А после визита в Америку, где его впечатлил ресторан одного рекламного агентства, решил сделать свой. Шикарный, как любимый император. Но ресторанное счастье было недолгим.</p>
                        <p>- Иногда я подумывал, что все это великолепие не для нас, - вздыхает бывший ресторатор. - И было обидно, когда в ресторан просто приходили пожрать, не замечая всего этого бархатно-мраморного великолепия.</p>
                        <p>А «Наполеон» у Ашота, по его словам, забрали. Когда был период бандитского передела. И никто ничего не мог сделать – ни власть, ни милиция. А чтобы его труды не достались врагу, все содержимое ресторана хозяин раздал сотрудникам – кто что мог унести, а гранит и мрамор ушел на надгробные памятники.</p>
                        <p>Себе Ашот оставил мини-музей Наполеона, в его доме нашли место медали, фарфор, сабли и огромный портрет императора, который он сам писал для ресторана. Но нарисованному императору тесно в доме – потолки здесь слишком низкие. А все из-за хозяйской скромности. Явно не императорской.</p>
                        <p>- Это я специально так сделал, - уточняет издатель. – Когда только построил капитальный забор, довелось услышать, как возмущаются дачники Осокорков. Мол, понастроили здесь хоромы. Тогда я возвел дом вровень с кирпичным забором – чтоб не выделяться. В результате потолки получились слишком низкими.</p>
                        <p>Теперь Ашот жалеет о такой своей скромности. Вокруг соседи возвели целые дворцы, не обращая внимания на пересуды.</p>
                        <p><strong>Профессия – издатель ностальгии</strong></p>
                        <p>После краха «Наполеона» Ашот на все плюнул и занялся издательским делом. На вопрос, почему вдруг это, отвечает просто:</p>
                        <p>- А я всегда создавал то, чего у нас не хватало – в начале 90-х у нас не было книг, вот и подумалось – надо сделать.</p>
                        <p>Первой ласточкой его издательской деятельности был сборник «Мальовнича Украина», которую отпечатал в Мюнхене – шикарное красочное издание. Его работа понравилась и поступили заказы с высот Печерских холмов. Сделал две книги для Кучмы, выпустил фотоальбом для Туркменбаши. Сейчас работает над изданием для Черномырдина. Но на ехидное замечание о том, что он придворный издатель, Ашот не обижается.</p>
                        <p>- Я горжусь тем, что именно я делаю книги первым лицам государства. А больше всего мне нравиться делать книги о Киеве.</p>
                        <p>Например, в одном из новых его альбомов «Киев вчера и сегодня» собраны старые фото киевской старины и тут же размещены современные фотографии этих же зданий. Забавно сравнить, как изменился облик Киева и его обитателей.</p>
                        <p>Самая свежая его работа - сборник «Старый Киев» с уникальными старыми фотографиями. Но это только первая книга задуманной им трилогии. Сейчас уже готовится второй том – Киев в XX веке, где будут собраны фотодокументы всего, что происходило здесь по десятилетиям: пожары, строительства, голодомор, приезжавшие гости, наводнения, мосты. А третья книга будет отражать Киев в первом десятилетии XXI века.</p>
                        <p>В работе еще один фотоальбом – «Киев в Великой отечественной войне». Ашот собрал действительно уникальные фото – говорит, что до 90% фотографий будут публиковаться впервые. Уже потратил 128 тыс. грн на уникальные архивные материалы (в архивах одна фотография от 25 до 80 грн стоит). Целый год искал финансирования, к кому только не обращался – и все отказывали. И только недавно Киевская горадминистрация согласилась дать немного денег. Но предложенные 100 тыс. грн не покроют всех затрат. Кроме уже потраченных средств, еще 70 тыс. грн. нужно на полиграфию.</p>
                        <p>- Очень обидно было, - делится Ашот, - Россия в прошлом году выпустила 72 фотоальбома о войне, я уже не говорю о книгах, фильмах, художественных и документальных. А у нас – ни одного, так будто бы и войны у нас не было.<br>Среди планов издателя – ностальгический альбом об СССР «Страна, которой нет», но еще не решил, будет ли это вообще об СССР или о советской Украине.</p>
                        <p>Сегодня рабочий кабинет Ашота Арутюняна – в его доме на Осокорках. В кабинете – четыре разных телефона и штук пять различных пультов – для телевизора, видеомагнитофона, музыкального центра, DVD-плеера. Но смотрит в основном российский канал «Культура» – по спутнику ловит и документальные фильмы записывает. Иногда использует стоп-кадры, словленные в эфире, в своих документальных альбомах. Другие программы не смотрит и газеты перестал читать давно – анекдоты, которые там печатаются он уже знает, кто с кем живет – его не интересует, что происходит в правительстве – все равно.</p>
                        <p>Одна надежда: может, этот материал о себе все же прочитает…</p>
                        <p><em>Автор: Ольга СОЛОМКА</em></p><p></p>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
