{% extends "base.html.twig" %}

{% block title "СМИ ОБ АВТОРЕ" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Выставка картин ПТН ПНХ 10-20 октября 2014 Киев</h3>
                    <div class="content">
                        <p>Приглашаю вас на свою персональную выставку картин <strong>"ПТН ПНХ"</strong>.</p>
                        <p>Выставка посвящена политическим событиям и в Украине 2013-2014 года, которые не оставляют равнодушными никого в нашей стране и за рубежом. На полотнах вы увидите многих политических деятелей в их истинном обличии. Несколько фрагментов ниже, чтобы вам стало интересно увидеть все остальное.</p>
                        <p><strong>Место проведения:</strong> выставочный зал Союза художников Украины</p>
                        <p><strong>Адрес:</strong> Киев, ул. Красноармейская (Большая Васильковская), 12</p>
                        <p><strong>Дата:</strong> 10-20 октября 2014</p>
                        <p><strong>Время:</strong> 11:00-20:00 ежедневно (воскресенье - выходной)</p>
                        <p>Официальное открытие выставки пройдет 14 октября в 19:00</p>
                        <p><strong>ВХОД СВОБОДНЫЙ</strong> для взрослых 18+ </p>
                        <p><strong>Присоединяйтесь </strong>к мероприятию <a href="https://www.facebook.com/events/586745208096316/?ref_dashboard_filter=calendar">"Выставка картин "ПТН ПНХ" в Facebook</a> и <strong>приглашайте ваших друзей!</strong></p>
                        <p>До встречи на выставке!</p>
                        <p>Ваш Ашот Арутюнян</p>
                        <div class="clearfix">
                            <img class="pull-left" alt="выставка птн пнх" src="{{ asset('img/upload/ptn/ptn_pnx_1.jpg') }}">
                            <img class="pull-right" alt="выставка птн пнх" src="{{ asset('img/upload/ptn/ptn_pnx.jpg') }}">
                        </div>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
