{% extends "base.html.twig" %}

{% block title "СМИ ОБ АВТОРЕ" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Свет и тьма: Загадки Караваджо</h3>
                    <div class="content">
                            <div class="pull-right">
                                <div class="clearfix">
                                    <img src="{{ asset('img/upload/Caravaggio.jpg') }}" alt="Caravaggio" width="160" height="184">
                                </div>
                                <div class="clearfix">
                                    <p>Chalk portrait of Caravaggio</p>
                                    <p>by Ottavio Leoni, 1621</p>
                                </div>
                            </div>
                            <p>Среди друзей моей молодости был талантливый художник и просто очень хороший человек <strong>Ашот Арутюнян</strong>, он рисовал афиши для "Кинопанорамы" и "Киева". Половина города знала его лично, а вторая половина - по его авангардным постерам к таким блокбастерам как, например, "Трактир на Пятницкой" или "Хищник", если кто помнит. Авангардным - по тем временам -был и метод его работы. Ашот пользовался <a href="http://www.air-o-graf.ru/showthread.php?t=537" target="_blank">эпидиаскопом</a>, с помощью которого проецировал свои эскизы на огромный холст. К утру афиша была готова, и Ашот шел спать. Город просыпался и бежал смотреть на его работу, а коллеги кусали локти - опередить Ашота не мог никто. И все это благодаря эпидиаскопу.</p>
                            <p>Так вот, если бы мы тогда знали, что подобным образом работал еще один художник - <a href="http://caravaggio.com/" target="_blank">Караваджо</a>. За 400 лет до Ашота, между прочим. "Отец светотени - chiaroscuro" превратил свою мастерскую в огромную «камеру обскура». Он располагал свои модели под лучами света, отвесно льющимися из отверстия в потолке, и проецировал полученные образы на полотно с помощью увеличительных стекол и зеркал. Вот почему Караваджо работал без подготовительных эскизов, и работал быстро - некоторые полотна были им написаны всего за несколько дней. Обратите внимание на совершенно особенное освещение фигур на его картинах, на доминирующий черный фон:</p>
                            <table align="center" border="0">
                                <tbody>
                                <tr>
                                    <td><img style="vertical-align: middle;" src="/img/upload_tiny/Caravaggio-Judith_Beheading_Holofernes_1598.jpg" alt="Caravaggio_Judith" width="400" height="297"></td>
                                    <td>
                                        <p>Неужели гениальный Караваджо был первым в мире фотографом?</p>
                                        <p>Это только одна из загадок, которые оставил после себя Мастер.</p>
                                    </td>
                                    <td><img alt="salome" src="/img/upload_tiny/salome-1610.jpg" width="349" height="297"></td>
                                </tr>
                                <tr>
                                    <td><strong><em>Caravaggio. Judith Beheading Holofernes, 1598</em></strong></td>
                                    <td>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</td>
                                    <td><strong><em>Caravaggio. Salome,&nbsp; 1610</em></strong></td>
                                </tr>
                                </tbody>
                            </table>
                            <table align="right" border="0">
                                <tbody>
                                <tr>
                                    <td><img alt="St-Jerome" src="/img/upload_tiny/St-Jerome-1600.jpg" width="400" height="293"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">
                                        <p><strong><em>Caravaggio. St.Jerome, 1600</em></strong></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>Микеланджело Меризи (Michelangelo Merisi da Caravaggio) родился в городке Караваджо в 1571 году. Он прожил короткую и неистовую жизнь, познав все: любовь и предательство, успех и забвение, признание вельмож и тюремное заключение. Учился в Милане у Симоне Петерцано, ученика самого <a href="http://www.metmuseum.org/toah/hd/tita/hd_tita.htm" target="_blank">Тициана</a>. В 1592 году перебрался в Рим, где чуть не умер с голоду, пока на него не обратил внимание кардинал Франческо дель Монте, известный коллекционер. Без памяти влюбился в Маддалену Антоньетти - Лену, известную римскую проститутку, пардон, куртизанку. Готов был взять ее в жены, даже с нажитым неизвестно от кого дитем. Сходил с ума от горя, когда она его бросила, кричал под ее окнами, умолял вернуться…</p>
                            <p>С этого момента жизнь Караваджо покатилась под откос. Подобно всем творческим натурам и до, и после него, Караваджо глушил тоску с помощью алкоголя и беспутства, и вскоре приобрел скандальную известность как неуправляемый дебошир. Попутно подхватил сифилис. И тогда же - внимание! - Караваджо познакомился с Джордано Бруно. После одного из скандалов художник попал в тюрьму Тординона, где три дня просидел в одной камере с опальным философом. А на четвертый день Джордано Бруно отвели на костер, и Караваджо, вместе с остальными узниками, наблюдал казнь.</p>
                            <table align="left" border="0">
                                <tbody>
                                <tr>
                                    <td><img alt="The_Beheading_on_John_the_Baptist" src="/img/upload_tiny/The_Beheading_on_John_the_Baptist_1608.jpg" width="500" height="299">&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">
                                        <p><strong><em>Caravaggio. The Beheading of John the Baptist, 1608</em><em>&nbsp;</em></strong></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>Когда один из его беспутных друзей по имени Рануччо Томассони грубо отозвался о Лене, Караваджо не выдержал. В ход пошли кинжалы и Томассони был убит. Караваджо был объявлен вне закона, и ему пришлось бежать из Рима в Неаполь, откуда в 1607 он перебрался на остров Мальта. Здесь художник был даже удостоен звания кавалера Мальтийского ордена. Затем - опять  конфликт с могущественным вельможей, опять тюрьма - зловещая пещера «гува», обычно предназначавшаяся для смертников. Никому из узников не удавалось выбраться оттуда на волю. В этот каменный мешок четырехметровой глубины, открытый солнцу и дождям, — и поместили художника. Но утром следующего дня случилось невероятное - Караваджо исчез…</p>
                            <p>Это еще одна из загадок судьбы гения.</p>
                            <p>В 1608—1609 годах Караваджо, преследуемый наёмными убийцами, подосланными тем же вельможей, скитается по городам Сицилии и южной Италии.</p>
                            <table align="right" border="0">
                                <tbody>
                                <tr>
                                    <td><img alt="David_with_the_Head_of_Goliath" src="/img/upload_tiny/David_with_the_Head_of_Goliath_1607.jpg" style="vertical-align: middle;" width="250" height="315">&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><strong><em>Caravaggio. David with the Head of <br>Goliath, 1607</em></strong></td>
                                </tr>
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>Наперекор всему, продолжает создавать свои шедевры. Что особенно интересно, часто изображает себя самого, как, например, на этом полотне:</p>
                            <p>В 1610 году до Караваджо дошли слухи о том, что папа его вроде как простил и он теперь может вернуться в Рим. По дороге был по ошибке арестован испанскими таможенниками, затем продолжил путь и в городке Порто д’Эрколе умер, по одной из версий, от лихорадки в возрасте 39 лет. По другим версиям, умер от малярии, был зарезан в таверне.</p>
                            <p>В 2001 году было найдено свидетельство о смерти художника. Оно привело исследователей в Тоскану. А затем к захоронению при одной из церквей города Порто д'Эрколе. Результаты экспертизы совпали с данными исторических документов. Найденные в церкви кости принадлежали человеку 38–40 лет, ростом 1 метр 70 сантиметров, который долгое время работал с красками. На это указывает крайне высокий уровень свинца и ртути— во время Караваджо краски были очень токсичными.</p>
                            <p>Свинец, это понятно. Но откуда ртуть? В средневековой Европе ею лечили венерические болезни, а Караваджо, если помните, страдал запущенным сифилисом. Я лично думаю, именно лишения, физические травмы, болезни и ртутные примочки - вот что доконало великого художника Микеланджело Меризи Караваджо. А может, его погубил солнечный удар...</p>
                            <p style="text-align: left;"><em>Автор: <a href="http://www.blogger.com/profile/03581512455493444191" target="_blank">Vasyl Baryshev</a></em></p>
                            <p style="text-align: left;"><em>Источник: <a target="&quot;_blank&quot;" href="http://vaab-kardiogramma.blogspot.com/2011/02/blog-post_06.html">http://vaab-kardiogramma.blogspot.com</a></em></p><p></p>                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
