{% extends "base.html.twig" %}

{% block title "Elite Gift" %}

{% block header %}
    {% set currentPage = 'gift' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Живопись - элитный подарок</h3>
                    <div class="content">
                        <img class="pull-left" src="/img/upload/present.jpg"></p>
                        <p><strong>... И ПАМЯТЬ НА ДОЛГИЕ ГОДЫ <br></strong></p>
                        <p>Портреты способны зафиксировать человеческую жизнь начиная с младенчества до глубокой старости. Благодаря этому они могут претендовать на историческую достоверность, представляя своего рода зрительно постижимую семейную хронику и являясь носителем фамильного сходства. Портреты всегда украшали залы семейных имений или в соответствии с модой времени специально предназначенные для портретов – "портретные" комнаты. Они были своего рода важными семейными знаками, по портретам можно было проследить генеалогические ветви семьи.</p>
                        <p>У портретов была и есть эстетическая функция - портретная картина это достойное украшение и часть интерьера, художественного быта, которое подчеркнет вкус хозяина, его эстетические предпочтения, его идеалы, его статус. Портреты любимых членов семьи создадут теплую и уютную атмосферу в доме, а также они могут украсить и придать солидности офису, кабинету. Ведь настоящая картина масло смотрится куда более богаче и красивее обычной фотографии или постера в любом помещении на любых стенах!</p>
                        <p>Большинство подарков, считавшихся ранее элитными (сувениры, зажигалки, часы, посуда и т.п.), сейчас выглядят довольно банально и избито. Независимо от того хотите ли вы сделать неповторимый подарок близкому вам человеку или же деловому партнеру или руководителю, если вы решите подарить портрет маслом на холсте, вы не ошибетесь! Такой подарок не покупается в магазине в последний момент, и он еще раз подчеркнет то, что вы готовились к торжеству заранее, проявляя свою любовь и уважение к получателю подарка. Кроме того портрет, являясь элитным подарком, отметит изысканный вкус человека, дарящего картину и можно быть уверенным, что такого портрета у виновника торжества точно еще нет и такой картины больше никто не подарит. Искусство вечно, и ценность такого подарка со временем может только повышаться, он может стать началом будущей частной коллекции живописи.</p>
                        <p>Вы можете заказать: <strong></strong></p>
                        <img class="pull-right" src="/img/upload/v_masterskoy_1.jpg">
                        <ul>
                            <li><strong>портрет ко дню рождения</strong>, юбилею или другой знаменательной дате в жизни человека, который подчеркнет лучшие качества характера человека, отобразит его харизму, перенесет его в образ исторического прошлого или желанного будущего;<strong> <br></strong></li>
                            <li><strong>свадебный портрет</strong> станет великолепным подарком на любую годовщину свадьбы, который напомнит о прочности союза двух любящих сердец;<strong></strong></li>
                            <li><strong>семейный портрет</strong>, отображающий тепло и нежность ваших отношений, подчеркнет уют вашего семейного гнездышка;<strong> </strong></li>
                            <li><strong>детский портрет</strong>, который останется вашим детям как память об их очаровательном возрасте, а еще портрет вашего малыша может быть началом вашей фамильной портретной галереи;<strong></strong></li>
                            <li><strong>портрет по старинным фотографиям </strong>ваших пра-, пра-, прадедов, которые позволят по-новому взглянуть на прошлое, подарит тепло и радость воспоминаний; <strong></strong></li>
                            <li><strong>портрет с любимым питомцем</strong>, который как лучший друг, делает вашу жизнь более интересной, полной приятных эмоций от общения.</li>
                        </ul>
                        <ul>
                        </ul>
                        <p>Вы можете<strong> портрет в подарок</strong> вашим близким, друзьям, коллегам, который дополнит интерьер их квартиры или офиса, а художник исполнит картину маслом в нужном формате. Для этого заполните форму заказа и отправьте его по электронной почте или позвоните.</p>
                        <p>Также вы можете <strong>выбрать для себя что-то из готовых картин</strong> - портреты известных людей или натюрморт, исполненный маслом на холсте, для этого вам нужно написать или позвонить автору и забронировать картину.</p>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
