{% extends "base.html.twig" %}

{% block title "Elite Gift" %}

{% block header %}
    {% set currentPage = 'gift' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Живопись - элитный подарок</h3>
                    <div class="content">
                        <img class="pull-left" src="{{ asset('img/upload/present.jpg') }}"></p>
                        <p><strong>... И ПАМЯТЬ НА ДОЛГИЕ ГОДЫ <br></strong></p>
                        <p>Портрет может запечатлеть жизнь человека в любой период, начиная с  младенческих лет и до  почтенной старости. С помощью семейной портретной галереи можно создать семейную хронику, по которой потомки увидят фамильные черты и сходство, создать генеалогическое дерево семьи и всех его ветвей.</p>
                        <p>Портреты  издавна были украшениями залов семейных имений, портретные картины выполняли эстетическую функцию и подчеркивали вкус хозяина, его статус и идеалы.</p>
                        <p>Несмотря на то, что сейчас стремительно развивается фототехника, настоящая живопись и портреты маслом смотрятся намного богаче <span>и изысканнее, чем обыкновенная фотография в любом помещении будь то квартира, дом или офис! Украсив комнату портретами своих </span>любимых и близких людей, вы создадите неповторимую теплую и уютную атмосферу в  доме. Разметив портретную картину в офисе, кабинете, вы придадите ему солидности.</p>
                        <p>Большинство подарков, считавшихся  ранее элитными (сувениры, зажигалки, часы, посуда и т.п.), сейчас  выглядят довольно банально и избито. Независимо от того хотите ли вы  сделать неповторимый подарок близкому вам человеку, деловому  партнеру, руководителю, если вы решите подарить портрет маслом на  холсте, вы не ошибетесь! Такой подарок не покупается в магазине в  последний момент, и он еще раз подчеркнет то, что вы готовились к  торжеству заранее, проявляя свою любовь и уважение к получателю подарка.  Кроме того такой элитный подарок как портрет, отметит изысканный вкус  человека, дарящего картину. Вы можете быть уверенным, что такого портрета у  виновника торжества точно еще нет и такой картины больше никто не  подарит. Искусство вечно, и ценность такого подарка со временем может  только повышаться, он может стать началом будущей частной коллекции  живописи.</p>
                        <p>Вы можете заказать портрет к любому случаю: </p>
                        <img class="pull-right" src="{{ asset('img/upload/v_masterskoy_1.jpg') }}">
                        <ul>
                            <li><strong>портрет ко дню рождения</strong>, юбилею или другой  знаменательной дате в жизни человека, который подчеркнет лучшие качества  характера человека, отобразит его харизму, перенесет его в образ  исторического прошлого или желанного будущего;<br></li>
                            <li><strong>свадебный портрет</strong> станет великолепным подарком на любую годовщину свадьбы, который напомнит о прочности союза двух любящих сердец;</li>
                            <li><strong>семейный портрет</strong>, отображающий тепло и нежность ваших отношений, подчеркнет уют вашего семейного гнездышка;<strong> </strong></li>
                            <li><strong>детский портрет</strong>, который останется вашим детям как  память об их очаровательном возрасте, а еще портрет вашего малыша может  быть началом вашей фамильной портретной галереи;</li>
                            <li><strong>портрет по старинным фотографиям </strong>ваших пра-, пра-, прадедов, которые позволят по-новому взглянуть на прошлое, подарит тепло и радость воспоминаний; </li>
                            <li><strong>портрет с любимым питомцем</strong>, который как лучший друг, делает вашу жизнь более интересной, полной приятных эмоций от общения.</li>
                        </ul>
                        <ul>
                        </ul>
                        <p>Вы можете подарить<strong> портрет в подарок</strong> вашим близким, друзьям, коллегам, который дополнит интерьер их квартиры  или офиса, а художник исполнит картину маслом в нужном формате.  Для этого заполните  форму заказа и отправьте его по электронной почте или позвоните.</p>
                        <p>Также вы можете <strong>выбрать для себя что-то из готовых картин</strong> - портреты известных людей или натюрморт, исполненный маслом на холсте, для  этого вам нужно написать или позвонить автору и забронировать картину.</p>
                    </div>
                </header>
            </div>
        </section>
    </main>
{% endblock %}
