{% extends "base.html.twig" %}

{% block title "About" %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
                <header class="section-header">
                    <h3>Об Авторе</h3>
                    <div class="content">
                        <p>
                            <img class="pull-left" src="/img/upload/photo_ashot.png">
                            <strong>Ашот Арутюнян - народный художник Армении, заслуженный деятель искусств</strong><br> Закончил художественную школу в г. Ереване, Криворожское авиаучилище спецслужб и Киевский театральный институт имени Карпенко-Карого. Живет и работает в Киеве с 1977 года. Долгие годы работал в кинотеатрах «Кинопанорама» и «Киев» художником, а также рисовал <a target="_blank" href="/cinemaplacard">афиши</a> для объединения «Кинопрокат». Создавал киноплакаты для В/О «Совэкспортфильм», политические плакаты. Участвовал в различных международных конкурсах плаката. Весь Киев любовался киноафишами Ашота. О его афишах писали городские газеты, снимали программы, люди шли толпами на разрекламированные фильмы. Афиши эти действительно уникальны – сложно поверить, что все эти портреты актеров со сложнейшими сюжетами и кое-где сюрреалистическими элементами нарисованы от руки, да еще и за ночь. Афиши Ашота сами редко доживали свой век – их просто воровали. Некоторые свои работы Ашот успел сфотографировать. Художник стал настолько знаменит своими афишами, что ему даже предлагали стать директором кинотеатра.<br> В 1987 году открыл кооперативное рекламное агентство «Ракурс» - первое в Украине и второе в Союзе частное рекламное агентство. Ашот поставил первую <a target="_blank" href="/placards">рекламу</a> «Пепси-колы» на троллейбусах, на трамваях, такси, на мостах, на ЦУМе, а также первый биллборд в Киеве, который появился возле кинотеатра «Дружба» на Крещатике в 1989 году...
                            <span class="btn btn-sm btn-danger collapse-text-down" data-target-id="collapse-text">
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        </p>
                        <div class="collapse" id="collapse-text">
                            <p>
                                В 1993 году Ашот после визита в Америку, где его впечатлил ресторан одного рекламного агентства, решил сделать свой - ресторан премиум-класса «Наполеон». <a target="_blank" href="/restaurant">Ресторан "Наполеон"</a> был открыт в Киеве на ул. Шота Руставели, и пользовался большой популярностью у зарождающейся украинской буржуазии и культурной богемы. Шикарный, как любимый император, этот ресторан впечатлял своим бархатно-мраморным великолепием, в нем удивительно точно была воссоздана атмосфера великой эпохи. Путешествие во времени оказалось возможным - имперская роскошь интерьеров, алые камзолы гвардейцев… К сожалению жизнь ресторана была недолгой и завершилась в период бандитского передела. Себе Ашот оставил мини-музей Наполеона, в его доме нашли место медали, фарфор, сабли и огромный портрет императора, который он сам писал для ресторана.<br> С 1997 года занялся издательским делом, когда в Украине почти не печатали новых книг. Издал много авторских <a target="_blank" href="/books">фотоальбомов</a>, в том числе заказных, среди которых:
                            </p>
                            <ul>
                                <li><strong>шикарные красочные издания, где воссоздан образ живописной природы и архитектуры стран</strong>: «Мальовнична Україна» (1997), «Ливия» (1999),</li>
                                <li><strong>альбомы, которые заказали с высот Печерских холмов</strong>: «Леонід Кучма. Президент України» (1998), «Леонід Кучма» (2003), «Леонід Каденюк: «Я твій син, Україно!» (1998), «Виктор Черномырдин. Пять лет в Украине» (2006),</li>
                                <li><strong>серия книг о Киеве</strong>: «Київ» (2000), «Київ вчора і сьогодні» (2002), «Киев на старой почтовой открытке» (2005), «Старий Київ» (2005), «Київський Національний університет імені Тараса Шевченка» (2004),</li>
                                <li><strong>исторические фотоальбомы</strong>: «Так, Україна!» (2005), «Вікопомний подвиг» (2006), «Страна, которой нет…» (2007).</li>
                            </ul>
                            <p>
                                Больше всего Ашот увлечен историей Киева – в своих фотоальбомах он показывает город, с которым связала его судьба, в котором происходило его формирование как творческой личности. В фотоальбомах и книгах художника собраны уникальные архивные фотоматериалы. Они интересны тем, кто увлекается историей и архитектурой, и тем, кому интересно увидеть старый Киев, который мы уже безвозвратно потеряли.<br> Сейчас художник занимается живописью, создает картины маслом <a target="_blank" href="/painting/portrets">портреты</a>, <a target="_blank" href="/painting/still_life">натюрморты</a>. В своих работах с фотографической точностью он передает черты лица, тонкости интерьера, природы или предметов. Ашот хочет, чтобы искусство было ближе к людям, предлагает создание портретов в качестве подарков к знаменательным событиям или как начало фамильной портретной галереи. Картины всегда были и остаются достойным украшением и частью интерьера, художественного быта. И даже в современном интерьере живопись подчеркнет вкус хозяина, его эстетические предпочтения, его идеалы, статус. Портреты любимых членов семьи создадут теплую и уютную атмосферу в доме, а также они могут украсить и придать солидности офису или кабинету. Художник также планирует создать частную галерею.
                                <span class="btn btn-sm btn-danger collapse-text-up" data-target-id="collapse-text">
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </header>
            </div>
        </section>
        <section id="portfolio">
            <div class="container">
                <header class="section-header">
                    <h3 class="section-title">Автор с известными людьми</h3>
                </header>
                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/chm.jpg" data-lightbox="about" data-title="С Чрезвычайным и Полномочным послом РФ в Украине В.Черномырдиным - Дипломатический приём 2006 г.">
                                    <img src="img/about/chm.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>С Чрезвычайным и Полномочным послом РФ в Украине В.Черномырдиным</p>
                                <p>Дипломатический приём</p>
                                <p>2006 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/kuchma.jpg" data-lightbox="about" data-title="А. Арутюнян и президент Украины Л. Кучма - 2003 г.">
                                    <img src="img/about/kuchma.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>А. Арутюнян и президент Украины Л. Кучма</p>
                                <p>2003 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/paton.jpg" data-lightbox="about" data-title="С Президентом АН Украины Борисом Патоном - 2004 г.">
                                    <img src="img/about/paton.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>С Президентом АН Украины Борисом Патоном</p>
                                <p>2004 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/rishar.jpg" data-lightbox="about" data-title="А. Арутюнян и французский актер Пьер Ришар - 1996 г.">
                                    <img src="img/about/rishar.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>А. Арутюнян и французский актер Пьер Ришар</p>
                                <p>1996 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/posol_livia_1999.jpg" data-lightbox="about" data-title="С Послом Ливийской Джамахирии во время приема в Посольстве Ливии - 1999 г.">
                                    <img src="img/about/posol_livia_1999.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>С Послом Ливийской Джамахирии во время приема в Посольстве Ливии</p>
                                <p>1999 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/filaret_kadeniuk_2003.jpg" data-lightbox="about" data-title="В резиденции св. Филарета с первым космонавтом Украины Л.Каденюком - Вручаю Филарету свои авторские фотоальбомы в день его рождения - 2003 г.">
                                    <img src="img/about/filaret_kadeniuk_2003.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>В резиденции св. Филарета с первым космонавтом Украины Л.Каденюком</p>
                                <p>2003 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/x_6f6140bc.jpg" data-lightbox="about" data-title="A. Арутюнян, А. Пугачева Ф.Киркоров - Они были частыми гостями в моем ресторане Наполеон в 1995 г.">
                                    <img src="img/about/x_6f6140bc.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>A. Арутюнян, А. Пугачева Ф.Киркоров</p>
                                <p>Они были частыми гостями в моем ресторане Наполеон</p>
                                <p>1995 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/kobzon_oganezov_1995.jpg" data-lightbox="about" data-title="С И.Д.Кобзоном и Л.Оганезовым - 1995 г.">
                                    <img src="img/about/kobzon_oganezov_1995.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>С И.Д.Кобзоном и Л.Оганезовым</p>
                                <p>1995 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="img/about/uspenskaya_1995.jpg" data-lightbox="about" data-title="С певицей Любой Успенской - 1995 г.">
                                    <img src="img/about/uspenskaya_1995.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>С певицей Любой Успенской</p>
                                <p>1995 г.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="container">
                <header class="section-header wow fadeInUp">
                    <h3>СМИ об авторе</h3>
                    <div class="content">
                        <div class="box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <p class="description">
                                <a href=""><strong>Выставка картин ПТН ПНХ 10-20 октября 2014 Киев</strong></a> Союз художников Украины, 10-20 октября 2014
                            </p>
                        </div>
                        <div class="box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <p class="description">
                                <a href=""><strong>Свет и тьма: Загадки Караваджо</strong></a> Kardiogramma, 6 февраля 2011
                            </p>
                        </div>
                        <div class="box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <p class="description">
                                <a href=""><strong>Ашот Арутюнян ...знакомит нас с потерянным нами Киевом</strong></a> Газета по-киевски, Рубрика: Ретро-клуб, 19 марта 2007
                            </p>
                        </div>
                        <div class="box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <p class="description">
                                <a href=""><strong>Фотоальбом "Кіевъ. Вчора і сьогодні"</strong></a> Газета по-киевски, Рубрика: Книги, 01 апреля 2006
                            </p>
                        </div>
                        <div class="box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <p class="description">
                                <a href=""><strong>Издатель ностальгии</strong></a> Газета по-киевски, Рубрика: Люди, 23 марта 2006
                            </p>
                        </div>
                    </div>
                </header>
            </div>
        </section>
        <section id="contact" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h3>Контакты</h3>
                    <div class="content">
                        <div class="row contact-info">
                            <div class="col-md-4">
                                <div class="contact-address">
                                    <i class="ion-ios-location-outline"></i>
                                    <address>Киев, Украина</address>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contact-phone">
                                    <i class="ion-ios-telephone-outline"></i>
                                    <p>
                                        <a href="tel:+38 050 940-19-80">050 940-19-80</a>, <a href="tel:+38 099 523-87-82">099 523-87-82</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="contact-email">
                                    <i class="ion-ios-email-outline"></i>
                                    <p><a href="mailto:ashot56@bigmir.net">ashot56@bigmir.net</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
