{% extends "base.html.twig" %}

{% block title "About" %}

{#{% block body %}#}
    {#<article class="span12 data-block">#}
        {#{% for item in data %}#}
            {#<p>{{ item.name }}</p>#}
            {#<p>{{ item.source }}</p>#}
        {#{% endfor %}#}
    {#</article>#}
{#{% endblock %}#}
