{% extends "base.html.twig" %}

{% block title "Gallery" %}

{% block header %}
    {% set currentPage = 'gallery' %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main id="main">
        <section id="about">
            <div class="container">
            </div>
        </section>
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Все</li>
                            <li data-filter=".filter-landscapes">Пейзажи</li>
                            <li data-filter=".filter-exhibition">Выставка</li>
                            <li data-filter=".filter-mix">Разное</li>
                        </ul>
                    </div>
                </div>
                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-landscapes wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="/img/restaurant/naph.jpg" data-lightbox="landscapes" data-title="Зал Наполеон - жемчужина ресторана. Столик на четверых. Сочетание пурпурных и белых тонов, роскошь, величие, неизменные гвардейцы. Этот зал достоин императора. Здесь мог бы произойти прием послов или военный совет. Вот уже собираются приближенные. Еще минута - и мы услышим быстрые шаги великого корсиканца! Это ли не поступь империи?! - 1993">
                                    <img src="/img/restaurant/naph.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>Зал Наполеон - жемчужина ресторана</p>
                                <p>Столик на четверых</p>
                                <p>1993 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-landscapes wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="/img/restaurant/zhozef.jpg" data-lightbox="landscapes" data-title="Зал Жозефины на 6 человек - 1993 г.">
                                    <img src="/img/restaurant/zhozef.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>Зал Жозефины на 6 человек</p>
                                <p>1993 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-landscapes wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="/img/restaurant/white.jpg" data-lightbox="landscapes" data-title="Белым называется зал, рассчитанный на 10-15 человек. Ужиная здесь, вы будете пытаться соответствовать этим сверкающим стенам и поистине дворцовому обслуживанию. Вечер окажеться изысканным и церемонным. Подумайте, какое событие вы хотели бы отетить в этом зале. Юбилей? Встречу с друзьями? Успех? А может быть, свадьбу? - 1993 г.">
                                    <img src="/img/restaurant/white.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>Белым называется зал, рассчитанный на 10-15 человек ...</p>
                                <p>1993 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-exhibition wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="/img/restaurant/naph.jpg" data-lightbox="exhibition" data-title="Зал Наполеон - жемчужина ресторана. Столик на четверых. Сочетание пурпурных и белых тонов, роскошь, величие, неизменные гвардейцы. Этот зал достоин императора. Здесь мог бы произойти прием послов или военный совет. Вот уже собираются приближенные. Еще минута - и мы услышим быстрые шаги великого корсиканца! Это ли не поступь империи?! - 1993">
                                    <img src="/img/restaurant/naph.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>Зал Наполеон - жемчужина ресторана</p>
                                <p>Столик на четверых</p>
                                <p>1993 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-exhibition wow fadeInUp" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="/img/restaurant/zhozef.jpg" data-lightbox="exhibition" data-title="Зал Жозефины на 6 человек - 1993 г.">
                                    <img src="/img/restaurant/zhozef.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>Зал Жозефины на 6 человек</p>
                                <p>1993 г.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-exhibition wow fadeInUp" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <figure>
                                <a href="/img/restaurant/white.jpg" data-lightbox="exhibition" data-title="Белым называется зал, рассчитанный на 10-15 человек. Ужиная здесь, вы будете пытаться соответствовать этим сверкающим стенам и поистине дворцовому обслуживанию. Вечер окажеться изысканным и церемонным. Подумайте, какое событие вы хотели бы отетить в этом зале. Юбилей? Встречу с друзьями? Успех? А может быть, свадьбу? - 1993 г.">
                                    <img src="/img/restaurant/white.jpg" class="img-fluid" alt="">
                                </a>
                            </figure>
                            <div class="portfolio-info">
                                <p>Белым называется зал, рассчитанный на 10-15 человек ...</p>
                                <p>1993 г.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
